* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-player {
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

nav .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    text-align: center;
    cursor: pointer;
}

.song-img {
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
    margin-bottom: 15px;
}

h1 {
    font-size: 22px;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
}

#progress {
    width: 100%;
    margin: 20px 0;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.controls button {
    background: #f53192;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.controls button:hover {
    background: #d42e80;
}
