/* CSS - style.css */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e4d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background: #fff;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.app h1 {
    font-weight: 600;
    border-bottom: 1px solid #333;
    color: #001e4d;
    padding-bottom: 20px;
    font-size: 25px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.answer-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Increased gap between buttons */
}

.option {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.option:hover {
    background: #222;
    color: #fff;
}

.option.correct {
    background: green;
    color: white;
}

.option.wrong {
    background: red;
    color: white;
}


#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
    border-radius: 5px;
}

/* Centering Next & Restart button */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


